---
# need to be here
---

$bright_color: #FFFFE5;
$dark_color: #3399FF;
$link_color: #801A00;

$color-link-txt: $link_color;
$color-link-txt-hover: $dark_color;

$color-1-txt: black;
$color-1-bg:  $dark_color;
$color-1-bg-less: $dark_color;
$color-1-link-txt: $link_color;
$color-1-link-txt-hover: $bright_color;
$color-1-link-bg: $dark_color;
$color-1-link-bg-hover: $dark_color;
$color-1-btn-txt: black;
$color-1-btn-txt-hover: black;
$color-1-btn-bg: $dark_color;
$color-1-btn-bg-hover: $bright_color;
$color-1-btn-border: black;
$color-1-btn-border-hover: $bright_color;


$color-2-txt: black;
$color-2-bg: $bright_color;
$color-2-bg-less: $bright_color;
$color-2-link-txt: $link_color;
$color-2-link-txt-hover: $dark_color;
$color-2-link-bg: $bright_color;
$color-2-link-bg-hover: $bright_color;
$color-2-btn-txt: black;
$color-2-btn-txt-hover: $bright_color;
$color-2-btn-bg: $bright_color;
$color-2-btn-bg-hover: $dark_color;
$color-2-btn-border: black;
$color-2-btn-border-hover: $dark_color;


body {
    background-color: $dark_color;
    font-family: 'Open Sans', sans-serif;
    font-size:110%;
    padding: 2em 0 5em 0;
    h1 {
        font-size: 3em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a.pure-button {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

p {
    text-align:justify;
}

a:link,
a:visited {
    color: #A55030;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

.button {
    width: 100%;
    border: .1em solid #5c3126;
}


.pure-g {
    div {
        box-sizing: border-box;
    }
}

.content {

    padding: 2em 0 3em 0;
    margin: 0 .3em 0 .3em;

    h1, h2, h3 {
        text-align: center;
    }
}

.block-subscribe {
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;

    i {
        margin-left: .1em;
        margin-right: .1em;
    }
}

.block-feature {

    max-width: 26em;
    margin: auto;

}

.block-text {
    padding: 0 .8em 0 .8em;
}

.block-links {

    .pure-u-1 {
        padding: .2em .2em .2em .2em;
    }

}


.content-one {

    color: $color-1-txt;
    background-color: $color-1-bg-less;

    .content {
        background-color: $color-1-bg;
    }

    a.button:link,
    a.button:visited {
        color: $color-1-btn-txt;
        background-color: $color-1-btn-bg;
        border-color: $color-1-btn-border;
    }

    a.button:hover,
    a.button:active {
        color: $color-1-btn-txt-hover;
        background-color: $color-1-btn-bg-hover;
        border-color: $color-1-btn-border-hover;
    }

    a:link,
    a:visited {
        color: $color-1-link-txt;
        background-color: $color-1-link-bg;
    }

    a:hover,
    a:active {
        color: $color-1-link-txt-hover;
        background-color: $color-1-link-bg-hover;
    }

}


.content-two {

    color: $color-2-txt;
    background-color: $color-2-bg-less;

    .content {
        background-color: $color-2-bg;
    }

    a.button:link,
    a.button:visited {
        color: $color-2-btn-txt;
        background-color: $color-2-btn-bg;
        border-color: $color-2-btn-border;
    }

    a.button:hover,
    a.button:active {
        color: $color-2-btn-txt-hover;
        background-color: $color-2-btn-bg-hover;
        border-color: $color-2-btn-border-hover;
    }

    a:link,
    a:visited {
        color: $color-2-link-txt;
        background-color: $color-2-link-bg;
    }

    a:hover,
    a:active {
        color: $color-2-link-txt-hover;
        background-color: $color-2-link-bg-hover;
    }

}




/* ---------- media query ---------- */

/* md */
@media screen and (min-width: 48em) {
    .content {
        max-width: 35em;
        margin:auto;
    }
}


/* sm */
@media screen and (min-width: 35.5em) {
}
