body {
  font-family: 'Open Sans', sans-serif;
  font-size: 110%; }

h1,
h2,
h3,
h4,
h5,
h6,
a,
a.pure-button {
  font-family: 'Exo', sans-serif;
  font-weight: bold; }

.content {
  text-align: center; }

/* logo image */
.logo-block {
  max-width: 20em;
  margin: auto; }
  .logo-block .logo {
    border: 1px solid;
    border-radius: 1%;
    border-color: #312600;
    margin-bottom: 3em; }

.description {
  text-align: left; }

.block {
  padding: .3em .2em .3em .2em;
  box-sizing: border-box; }
  .block .tracks {
    text-align: left; }
    .block .tracks ul {
      padding: 0; }
      .block .tracks ul li {
        list-style-type: none;
        margin: .5em 0 .5em 0; }

.links {
  max-width: 20em;
  margin: auto; }
  .links div {
    padding: .3em .2em .3em .2em;
    box-sizing: border-box; }
    .links div .button {
      background-color: #ffdd4a;
      border-color: #543c22;
      border: 1px solid;
      width: 100%; }

/* ---------- media query ---------- */
/* md */
@media screen and (min-width: 48em) {
  .content {
    max-width: 35em;
    margin: auto; } }
/* sm */
