





body {
    background-color: #dbdbd5;
    font-family: 'Open Sans', sans-serif;
    font-size:110%;
}

h1, h2, h3, h4, h5, h6, a, a.pure-button {
    font-family: 'Exo', sans-serif;
}

/* unvisited link */
/* visited link */
a:link, a:visited {
    color: #A55030;
    text-decoration: none;
}

/* mouse over link */
/* selected link */
a:hover, a:active {
    color: black;
    text-decoration: none;
}

.button {
    width: 100%;
    border: 1px solid #5c3126;
}

.pure-g div {
    box-sizing: border-box;
}

.content {
    padding: 1em 0 1em 0;
    margin: 0 .3em 0 .3em;
}

.content  h1 {
    text-align: center;
}

.block-feature {
    padding: 0 .8em 0 .8em;
}

.block-feature ul {
    margin-top: 0;
}

.block-text {
    padding: 0 .8em 0 .8em;
}

.block-links .pure-u-1 {
    padding: .2em .2em .2em .2em;
}

/* ---------- content one ---------- */

.content-one {
    background-color: #5475D6;
}

.content-one .button {
    background-color: #d3ca19;
}


/* ---------- content two ---------- */


.content-two {
    background-color: #261E00;
    color: white;
}

.content-two .button {
    background-color: #CCFF99;
}

.content-two a:link, 
.content-two a:visited {
    color: black;
}

.content-two a:hover, 
.content-two a:active {
    color: #A55030;
}



/* ---------- media query ---------- */

/* md */
@media screen and (min-width: 48em) {
    .content {
        max-width: 35em;
        margin:auto;
    }
}


/* sm */
@media screen and (min-width: 35.5em) {
}
